.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.form-input {
  margin-bottom: 10px;
}

.form-button {
  margin-top: 10px;
}
