.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  margin-top: 30px;
  padding-top: 20px;
}

.bookmark-from {
  left: 0;
}

.bookmark-list {
  right: 0;
}
